h1{
    background-color: #0c2d19;
    color: white;
    text-align: center;
}

body{
    margin: auto;
    background-color: rgb(203, 238, 238);
}
.animate-typing
{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    color: #0c2d19;

}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}

.btn-success {
    background-color:#3f3d56;
}
.cen{
    display: flex;
    justify-content: center;
}



h5{
    color:white;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
}
.footer{
    background-color: #0c2d19;
}